
# Contact Information
REACT_APP_PHONE_1=+968 XXXXXXXXX
REACT_APP_PHONE_2=+968 XXXXXXXXX
REACT_APP_EMAIL_MAIN=your-email@example.com
REACT_APP_EMAIL_ALTERNATE=your-email@example.com

# Team Members
REACT_APP_TEAM_MEMBER_1_NAME=Team Member 1
REACT_APP_TEAM_MEMBER_1_PHONE=+968 XXXXXXXXX
REACT_APP_TEAM_MEMBER_1_EMAIL=member1@example.com

REACT_APP_TEAM_MEMBER_2_NAME=Team Member 2
REACT_APP_TEAM_MEMBER_2_PHONE=+968 XXXXXXXXX
REACT_APP_TEAM_MEMBER_2_EMAIL=member2@example.com

# Location
REACT_APP_LOCATION=City, Country

# Social Media Links
REACT_APP_LINKEDIN_URL=https://www.linkedin.com/company/yourcompany
REACT_APP_INSTAGRAM_URL=https://www.instagram.com/yourcompany
REACT_APP_WEBSITE_URL=https://yourwebsite.com

# API Configuration
REACT_APP_API_BASE_URL=https://your-api.com/endpoint
REACT_APP_CONTACT_EMAIL_API=your-contact-email-api-endpoint
REACT_APP_CAREER_EMAIL_API=your-career-email-api-endpoint
REACT_APP_API_MAIL_TYPE_CONTACT=your-mail-type-contact
REACT_APP_API_MAIL_TYPE_CAREER=your-mail-type-career
REACT_APP_API_FROM=mao
REACT_APP_API_SEND_TO=your-send-to

# Company Name
REACT_APP_COMPANY_NAME=Your Company Name
